﻿@model BoxDrop.Models.User
@{
    ViewData["Title"] = "Файлы пользователя";
}

<h3>Мои файлы</h3>
<table style="width:100%">
    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var file in Model.Files)
    {
    <tr>
        <td>@file.Name</td>

        <td><a asp-controller="Files" asp-action="Get" asp-route-id="@file.Url">Скачать</a></td>
        
        <td><a asp-controller="Files" asp-action="Delete" asp-route-id="@file.Url">Удалить</a></td>
    </tr>
    }
</table>
