﻿@model BoxDrop.Models.File

@{
    ViewData["Title"] = "Information";
}

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            File link
        </dt>
        <dd>
            /Files/Info/@Html.DisplayFor(model => model.Url)
        </dd>
        <dt>
            Created by
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Login)
        </dd>
    </dl>
</div>
<a asp-action="Get" asp-route-id="@Model.Url">Скачать</a>